$color-bg: rgb(77, 90, 87);

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  height: 100vh;
  color: #fff;

  &__img__detail {
    object-fit: contain;
    text-align: center;
  }
  &__content__detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &__content__detail__data {
    display: flex;
    flex-direction: column;

    :host & span {
      max-width: 500px;
    }
  }
}
