<div *ngIf="catDetail">
  <div class="wrapper" id="wrapper">
    <img
      src="{{ catDetail?.url }}"
      alt="img_cat"
      width="450"
      height="450"
      class="wrapper__img__detail"
    />

    <div class="wrapper__content__detail">
      <h1>Details</h1>
      <div
        class="wrapper__content__detail__data"
        *ngIf="catDetail?.breeds?.length > 0"
      >
        <span><b> Name:</b> {{ catDetail.breeds[0].name }}</span>
        <span><b>Origin:</b> {{ catDetail.breeds[0].origin }}</span>
        <span><b>Personality:</b> {{ catDetail.breeds[0].temperament }}</span>
        <span><b>Weight:</b> {{ catDetail.breeds[0].weight.metric }}</span>
        <span><b>Description:</b> {{ catDetail.breeds[0].description }}</span>
      </div>
      <div *ngIf="!catDetail.breeds">
        <p><b>No more details</b></p>
      </div>
    </div>
  </div>
</div>
