<mat-form-field
  class="wrapper__form__search__input"
  appearance="outline"
  color="primary"
>
  <mat-label>Change limit</mat-label>
  <input [formControl]="valueLimit" matInput type="text" />
</mat-form-field>
<mat-form-field
  class="wrapper__form__search__input"
  appearance="outline"
  color="primary"
>
  <mat-label>Search by Origin</mat-label>

  <mat-select [formControl]="originsControl" name="origins">
    <mat-option value=""> Ninguno</mat-option>
    <mat-option *ngFor="let origin of origins" [value]="origin">
      {{ origin }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field
  class="wrapper__form__search__input"
  appearance="outline"
  color="primary"
>
  <mat-label>Search by Breed</mat-label>

  <mat-select [formControl]="breedControl" name="breed">
    <mat-option value=""> Ninguno </mat-option>
    <mat-option *ngFor="let breed of breeds" [value]="breed">
      {{ breed.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field
  class="wrapper__form__search__input"
  appearance="outline"
  color="primary"
>
  <mat-label>Search by Category</mat-label>

  <mat-select [formControl]="categoriesControl" name="categories">
    <mat-option value=""> Ninguno</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
