$max-width-screen: 700px;
$color-bg: rgb(77, 90, 87);

.cover-load {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  background-color: $color-bg;

  &__form__search {
    padding: 30px 10px;
    max-width: 250px;
  }

  @media (max-width: $max-width-screen) {
    flex-direction: column;
    align-items: center;
    &__form__search {
      max-width: 320px;
    }
  }
}

.container-images {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: $max-width-screen) {
    height: auto;
    overflow-y: auto;
  }
}
