<div class="cover-load">
  <span *ngIf="!cats">Cargando...</span>
</div>
<div *ngIf="cats" class="wrapper">
  <div class="wrapper__form__search">
    <app-inputs-search (catsEvemitter)="filterCats($event)"></app-inputs-search>
  </div>

  <div class="container-images">
    <app-card-show-cat *ngFor="let cat of cats" [cat]="cat"></app-card-show-cat>
  </div>
</div>
