<mat-card
  [routerLink]="['/detail', cat.id]"
  role="button"
  class="container-card"
>
  <mat-card-content class="container-card__content__card">
    <img
      class="container-card__content__card__img"
      src="{{ cat.url }}"
      width="200"
      height="auto"
      alt="cats"
    />
    <div
      class="container-card__content__card__data"
      *ngIf="cat?.breeds?.length > 0"
    >
      <span><b>Name: </b>{{ cat.breeds[0].name }}</span>
      <span><b>Origin: </b>{{ cat.breeds[0].origin }}</span>
      <span><b>Life_span: </b>{{ cat.breeds[0].life_span }}</span>
    </div>
    <div *ngIf="cat?.breeds?.length === 0">
      <h3><b>No details</b></h3>
    </div>
  </mat-card-content>
</mat-card>
