$randomNumber: random(5);
.container-card {
  width: 300px;
  height: auto;
  margin: 10px;
  cursor: pointer;

  &__content__card {
    text-align: center;
  }

  &__content__card__img {
    object-fit: contain;
    text-align: center;
  }
  &__content__card__data {
    display: flex;
    flex-direction: column;
  }
}
